﻿<style>
    .hide {
        display: none !important;
    }
</style>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
    var jdata = JSON.parse('@Html.Raw(@ViewBag.data)');
    $(document).ready(function () {
        $(document).ajaxStart(function () {
            $('#bckgloaderframe').removeClass('hide');
        }).ajaxStop(function () {
            $('#bckgloaderframe').addClass('hide');
        });
    });

</script>
<script src="~/Scripts/ThreeDsAuth.js?v=22"></script>

