@{
    ViewData["Title"] = "EntornoFiservUDI";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



<style>
    .hide {
        display: none !important;
    }

    .ui-overlay-c {
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;
    }

    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 80px;
        height: 80px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: fixed;
    }

    .modalloader {
        position: absolute;
        text-align: center;
        margin: auto;
        z-index: 9999;
        display: block;
        width: 80px;
        height: 80px;
        border: 10px solid rgba(0, 0, 0, .3);
        border-radius: 50%;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        border-top-color: #000;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .modalloader_text {
        bottom:150px;
    }

    @@-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .section1 {
        width: 50%;
        float: left;
        box-sizing: border-box;
        border-right: 1vw;
        margin: 0;
        padding: 0;
    }

    .section2 {
        width: 50%;
        float: left;
        height: 100vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #success_tic .page-body {
        max-width: 300px;
        background-color: #FFFFFF;
        margin: 10% auto;
    }

    #token_tic .page-body {
        max-width: 300px;
        background-color: #FFFFFF;
        margin: 10% auto;
    }


    #threeds_tic .page-body {
        max-width: 300px;
        background-color: #FFFFFF;
        margin: 10% auto;
    }

    #token_tic .page-body {
        max-width: 300px;
        background-color: #FFFFFF;
        margin: 10% auto;
    }


    #error_tic .page-body {
        max-width: 300px;
        background-color: #FFFFFF;
        margin: 10% auto;
    }

    #success_tic .page-body .head {
        text-align: center;
    }

    #token_tic .page-body .head {
        text-align: center;
    }

    #error_tic .page-body .head {
        text-align: center;
    }
    /* #success_tic .tic{
          font-size:186px;
        } */
    #success_tic .close {
        opacity: 1;
        position: absolute;
        right: 0px;
        font-size: 30px;
        padding: 3px 15px;
        margin-bottom: 10px;
    }

    #token_tic .close {
        opacity: 1;
        position: absolute;
        right: 0px;
        font-size: 30px;
        padding: 3px 15px;
        margin-bottom: 10px;
    }

    #threeds_tic .close {
        opacity: 1;
        position: absolute;
        right: 0px;
        font-size: 30px;
        padding: 3px 15px;
        margin-bottom: 10px;
    }

    #error_tic .close {
        opacity: 1;
        position: absolute;
        right: 0px;
        font-size: 30px;
        padding: 3px 15px;
        margin-bottom: 10px;
    }

    #success_tic .checkmark-circle {
        width: 150px;
        height: 150px;
        position: relative;
        display: inline-block;
        vertical-align: top;
    }


    #token_tic .checkmark-circle {
        width: 150px;
        height: 150px;
        position: relative;
        display: inline-block;
        vertical-align: top;
    }

    .checkmark-circle .background {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: #1ab394;
        position: absolute;
    }

    #error_tic .crossmark-circle {
        width: 150px;
        height: 150px;
        position: relative;
        display: inline-block;
        vertical-align: top;
    }

    .crossmark-circle .background {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: #cb2626;
        position: absolute;
    }

    #success_tic .checkmark-circle .checkmark {
        border-radius: 5px;
    }

    #token_tic .checkmark-circle .checkmark {
        border-radius: 5px;
    }

    #error_tic .crossmark-circle .crossmark {
        border-radius: 5px;
    }


    #success_tic .checkmark-circle .checkmark.draw:after {
        -webkit-animation-delay: 300ms;
        -moz-animation-delay: 300ms;
        animation-delay: 300ms;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
        animation-timing-function: ease;
        -webkit-animation-name: checkmark;
        -moz-animation-name: checkmark;
        animation-name: checkmark;
        -webkit-transform: scaleX(-1) rotate(135deg);
        -moz-transform: scaleX(-1) rotate(135deg);
        -ms-transform: scaleX(-1) rotate(135deg);
        -o-transform: scaleX(-1) rotate(135deg);
        transform: scaleX(-1) rotate(135deg);
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    #success_tic .checkmark-circle .checkmark:after {
        opacity: 1;
        height: 75px;
        width: 37.5px;
        -webkit-transform-origin: left top;
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -o-transform-origin: left top;
        transform-origin: left top;
        border-right: 15px solid #fff;
        border-top: 15px solid #fff;
        border-radius: 2.5px !important;
        content: '';
        left: 35px;
        top: 80px;
        position: absolute;
    }

    #token_tic .checkmark-circle .checkmark.draw:after {
        -webkit-animation-delay: 300ms;
        -moz-animation-delay: 300ms;
        animation-delay: 300ms;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
        animation-timing-function: ease;
        -webkit-animation-name: checkmark;
        -moz-animation-name: checkmark;
        animation-name: checkmark;
        -webkit-transform: scaleX(-1) rotate(135deg);
        -moz-transform: scaleX(-1) rotate(135deg);
        -ms-transform: scaleX(-1) rotate(135deg);
        -o-transform: scaleX(-1) rotate(135deg);
        transform: scaleX(-1) rotate(135deg);
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    #token_tic .checkmark-circle .checkmark:after {
        opacity: 1;
        height: 75px;
        width: 37.5px;
        -webkit-transform-origin: left top;
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -o-transform-origin: left top;
        transform-origin: left top;
        border-right: 15px solid #fff;
        border-top: 15px solid #fff;
        border-radius: 2.5px !important;
        content: '';
        left: 35px;
        top: 80px;
        position: absolute;
    }



    .crossmark:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "\2573"; /* use the hex value here... */
        font-size: 80px;
        color: #FFFFFF;
        font-weight: bold;
        line-height: 120px;
        text-align: center;
    }
</style>
<meta charset=UTF-8>
<div id="notificationReference">
    <input type="hidden" id="threeDSMethodData">

</div>
<div>
    <!-- Modal -->
    <div id="error_tic" class="modal fade" role="dialog" data-toggle="modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" id="modal-error-content">
                <a class="close" onclick="close_modal()" data-dismiss="modal">&times;</a>
                <div class="page-body">
                    <div class="head" id="head_id">

                        <div class="crossmark-circle">
                            <div class="background"></div>
                            <div class="crossmark draw"></div>
                        </div>
                        <div id="modal_error_id">


                        </div>

                        <!--Message--->
                    </div>


                </div>
                <div id="txn_btn">

                </div>
            </div>
        </div>

    </div>
</div>

<div id="authframe" class="hide"></div>

<div class="modal fade" id="threeds_tic" role="dialog" data-toggle="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body row justify-content-center">
                <iframe name="threeds_tic" id="threeds_tic_id" width="480" height="480" frameborder="0" allowtransparency="true"></iframe>

                <div id="bckgloaderframe">
                    <div class="modalloader">

                    </div>
                    <div class="modalloader_text">
                        <p>Autenticando con el Banco...</p>
                    </div>
                </div>

    
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="token_tic" role="dialog" data-toggle="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-token-content">
            <a class="close" onclick="close_modal()" data-dismiss="modal">&times;</a>
            <div class="page-body">
                <div class="head" id="head_id">
                    <div class="checkmark-circle">
                        <div class="background"></div>
                        <div class="checkmark draw"></div>
                    </div>
                    <div id="modal_token_id">


                    </div>

                    <!--Message--->
                </div>


            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div>

    <!-- Modal -->
    <div id="success_tic" class="modal fade" role="dialog" data-toggle="modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" id="modal-success-content">
                <a class="close" onclick="close_modal()" data-dismiss="modal">&times;</a>
                <div class="page-body">
                    <div class="head" id="head_id">
                        <div class="checkmark-circle">
                            <div class="background"></div>
                            <div class="checkmark draw"></div>
                        </div>
                        <div id="modal_success_id">

                        </div>

                        <!--Message--->
                    </div>


                </div>
                <div id="txn_btn">

                </div>
            </div>
        </div>

    </div>
</div>

<div class="section1">
    <form accept-charset="UTF-8" method="POST" id="form_udi" target="myFrame">
        <div class="form-group col-md-6" id="action_field">

            <label id="action_label">Ambiente:</label>
            <div class="item-box input-group">
                <select name="action" id="action" style="width: 200px" class="form-control action">
                    <option style="width: 200px" id="TEST" value="https://cert.api.firstdata.com/gateway/v2">TEST</option>
                    <option style="width: 200px" id="PROD" value="https://prod.api.firstdata.com/gateway/v2">PROD</option>
                </select>

            </div>
        </div>
        <div id="div_master">

        </div>

        <div id="buttonData" class="form-group col-md-4 col-xs-6">
            <button id="sendData" type="button" onclick="sendTrans()" class="btn-primary waves-effectt">Enviar</button>
        </div>
    </form>

</div>


<div id="section2" class="section2 col-md-4">
    <div id="ReqTab">
        <div class="form-group">
            <label id="action_label">Operación:</label>
            <div class="item-box input-group">
                <select name="type_of_selling" id="type_of_selling" style="width: 200px" class="form-control action">
                    <option style="width: 200px" id="direct" value="direct">Ventas Regulares</option>
                    <option style="width: 200px" id="recurring" value="recurring">Cargos recurrentes</option>
                    <option style="width: 200px" id="paymenturl" value="paymenturl">Generar Liga de Pago</option>
                    <option style="width: 200px" id="keyvalidation" value="keyvalidation">Validación de Credenciales</option>
                </select>

            </div>
            <label id="apikey_label">APIKEY:</label>
            <div class="item-box input-group" id="apikey_field">

                <input type="password" style="width: 200px" class="form-control" name="apikey" id="apikey" />
                <div class="input-group-append">
                    <button id="show_password" class="btn btn-primary" type="button" onclick="show_pwd(this)"> <span id="apikey_span" class="fa fa-eye-slash apikey icon"></span> </button>
                </div>
            </div>

            <label id="apikey_label">APISec:</label>
            <div class="item-box input-group" id="apisec_field">

                <input type="password" style="width: 200px" class="form-control" name="apisec" id="apisec" />
                <div class="input-group-append">
                    <button id="show_password" class="btn btn-primary" type="button" onclick="show_pwd(this)"> <span id="apisec_span" class="fa fa-eye-slash apisec icon"></span> </button>
                </div>
            </div>

        </div>
        <div class="form-group" id="serviceTab">


        </div>
        <div id="AdditionalReqTab">

        </div>
    </div>


</div>

<div class="ui-overlay-c hide" id="bckgloader">
    <div class="loader">
    </div>
</div>

<script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-replace-svg="nest"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="~/Scripts/APIForm.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

