@{
    ViewData["Title"] = "EntornoFiservUDI";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
<script src="js/reactjs/main.js" type="text/babel"></script>
<script src="~/Scripts/react-1.0.0.js"></script>
<script src="~/Scripts/diff.js"></script>

<style>
    @@-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
    .hide {
        display: none !important;
    }

    .section1 {
        width: 50%;
        float: left;
        height: 100vh;
        box-sizing: border-box;
        border-right: 1vw;
        margin: 0;
        padding: 0;
    }

    .section2 {
        width: 50%;
        float: left;
        height: 100vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .hide {
        display: none !important;
    }

    .ui-overlay-c {
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;
    }

    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 80px;
        height: 80px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: fixed;
    }

</style>
<meta charset=UTF-8>

<div class="section1">
    <form accept-charset="UTF-8" method="POST" id="form_udi" target="myFrame">
        <div id="div_master">
            <div class="input-group-append">
                <input type="text" id="storeId">
            </div>
        </div>
        <div id="buttonData" class="form-group col-md-4 col-xs-6">
            <button id="sendData" type="button" onclick="UpdateStores()" class="btn-primary waves-effectt">Actualizar</button>
        </div>
        <div id="buttonData" class="form-group col-md-4 col-xs-6">
            <button id="sendData" type="button" onclick="GetStoresByParam()" class="btn-primary waves-effectt">Obtener</button>
        </div>
        <div id="buttonData" class="form-group col-md-4 col-xs-6">
            <button id="sendData" type="button" onclick="CloneStores()" class="btn-primary waves-effectt">Clonar</button>
        </div>
    </form>

</div>

<div class="ui-overlay-c hide" id="bckgloader">
    <div class="loader">
    </div>
</div>

<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

<script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-replace-svg="nest"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="/Scripts/StoreAPI.js" type="text/jsx"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
